@media (min-width: 480px) {
  header div {
    display: flex;
  }
  body {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  #\#wrapper {
    display: grid;
    grid-row: 5% 10% 10% 25% 25% 10% 15%;
  }
  header {
    grid-column: 1/2;
    grid-row: 1/2;
    border-bottom: gray solid 2px;
  }
  header h2 {
    display: none;
  }
  #about {
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 85% 15%;
  }
  #about p {
    grid-column: 1/2;
    color: gray;
  }

  #competencies {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 50px;
  }
  #competencies h3 {
    grid-column: 1/2;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10%;
  }
  .skills {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left: solid black 2px;
    height: 100%;
  }

  .skill span {
    background-color: rgb(10, 134, 134);
    height: 100%;
    width: 100%;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .skill {
    width: 25%;
    display: grid;
    grid-template-rows: 0% 100%;
    border: solid 1px rgb(10, 134, 134);
    height: 80%;
    color: white;
  }
  .skill[data-skill="1"] span::after {
    content: "\2605";
    color: white;
  }

  .skill[data-skill="3"] span::after {
    content: "\2605 \2605";
    color: white;
  }
  .skill[data-skill="5"] span::after {
    content: "\2605 \2605 \2605";
    color: white;
  }
  .skill[data-skill="7"] span::after {
    content: "\2605 \2605 \2605 \2605";
    color: white;
  }
  .skill[data-skill="9"] span::after {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: white;
  }
  #experiences {
    display: grid;
    grid-template-columns: 30% 70%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  div.experience {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .experience {
    grid-column: 2/3;
    border-left: solid 2px black;
    padding-left: 10px;
  }
  .experience h4 {
    grid-column: 1/2;
  }
  .experience-details {
    grid-column: 2/3;
    color: gray;
    display: flex;

    align-items: center;
  }
  .experience-description {
    grid-column: 1/3;
  }
  #experiences h3 {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10%;
  }
  #education {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  #education h3 {
    grid-column: 1/2;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10%;
  }
  #education .experience {
    border-left: solid 2px black;
    padding-left: 10px;
  }
  .experience-type {
    color: rgb(10, 134, 134);

    margin-top: 0;
  }
  .experience-institution {
    color: rgb(10, 134, 134);
    display: none;
  }

  #hobbies {
    display: grid;
    grid-template-columns: 30% 70%;
  }
  #hobbies h3 {
    grid-column: 1/2;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10%;
  }
  #hobbies ul {
    grid-column: 2/3;
    border-left: solid 2px black;
  }
  .contacts dl {
    display: none;
  }
  #contact h3 {
    display: none;
  }
  #contact {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 150px;
    display: grid;
    grid-column: 10% 90%;
  }
  .contacts {
    grid-column: 2/3;
    background: url(../images/email.png) no-repeat,
      url(../images/phone.png) no-repeat, url(../images/github.png) no-repeat,
      url(../images/facebook.png) no-repeat;

    background-size: 100px;
    background-position-x: 0%, 25%, 50%, 75%;
    background-position-y: center;
  }
  figure {
    transform: rotate(-30deg);
    position: absolute;
    right: 10%;
    top: 2%;
  }
  #about h3 {
    display: none;
  }
}

@media (max-width: 480px) {
  header {
    border-bottom: gray solid 2px;
  }
  header h2 {
    display: none;
  }
  figure {
    display: none;
  }
  #about h3 {
    display: none;
  }
  #about p {
    color: gray;
  }
  .skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .skills-primary {
    margin-bottom: 10px;
    height: 75%;
  }
  .skills-secondary {
    height: 25%;
  }

  .skill span {
    background-color: rgb(10, 134, 134);
    height: 100%;
    width: 100%;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .skill {
    width: 25%;
    display: grid;
    grid-template-rows: 0% 100%;
    border: solid 1px rgb(10, 134, 134);
    height: 80%;
    color: white;
  }
  .skill[data-skill="1"] span::after {
    content: "\2605";
    color: white;
  }

  .skill[data-skill="3"] span::after {
    content: "\2605 \2605";
    color: white;
  }
  .skill[data-skill="5"] span::after {
    content: "\2605 \2605 \2605";
    color: white;
  }
  .skill[data-skill="7"] span::after {
    content: "\2605 \2605 \2605 \2605";
    color: white;
  }
  .skill[data-skill="9"] span::after {
    content: "\2605 \2605 \2605 \2605 \2605";
    color: white;
  }
  .experience {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .experience h4 {
    grid-column: 1/2;
  }
  .experience-details {
    grid-column: 2/3;
    color: gray;
    align-items: center;
  }
  .experience-description {
    grid-column: 1/3;
  }
  .experience .experience-type {
    color: rgb(10, 134, 134);
  }
  .experience-institution {
    color: rgb(10, 134, 134);
  }
  .contacts {
    height: 250px;

    background: url(../images/email.png) no-repeat,
      url(../images/phone.png) no-repeat, url(../images/github.png) no-repeat,
      url(../images/facebook.png) bottom no-repeat;

    background-size: 120px;
    background-position-x: 0%, 50%, 100%, 0%;
    background-position-y: 0%, 0%, 0%, 75%;
  }
  .contacts dl {
    display: none;
  }
  section h3 {
    text-decoration: underline;
  }
  .experience-institution {
    display: none;
  }
}
